html { 
  background: url(http://s3-ec.buzzfed.com/static/2014-01/enhanced/webdr02/22/12/anigif_enhanced-buzz-31750-1390413207-23.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
