html { 
  background: url(http://distilleryimage5.ak.instagram.com/e62bdde4e12911e2b78322000a1fac13_7.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
