html { 
  background: url(https://i.cloudup.com/LYJ78rgOtL-3000x3000.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
